_En este .ipynb encontraras la informacion basica sobre el uso de cadenas de caracteres (strings) en python y tambien algunos ejercicios resuletos y propuestos._

# Strings en Python

En el analisis de datos es usual trabajar con datos tipo texto, por esto es importante tener encuenta las herramientas que ofrece python para este tipo de entradas. 

Cuando introducimos en python un texto, o en general una secuandia de caracteres, entre comillas simples o dobles, python guarda este objeto como un tipo ***string***,  el cual tiene una estructura mas parecida a una lista que a un objeto tipo char de lenguajes como c++ o java. 

Por ejemplo al escribir:

In [1]:
texto='Hola mundo'
print(texto)

Hola mundo

Python nos guarda este texto como una cadena de caracteres, al cual podemos acceder de acuerdo a sus posiciones, las cuales  python define asi:

![Imagen](Fig2.png)

En este casa, por ejemplo, si queremos imprimir  unicamente la 'H', que esta entre la poscision 0 y 1 dentro de nuestra mensaje, podemos hacer uso de las siguiente notaciones:

In [2]:
texto[0:1]

'H'

In [3]:
texto[0]

'H'

Esto es sinduda algo analogo a lo que podemos hacer con objetos tipo **list** en python

In [4]:
lista=['H','o','l','a',' ','m','u','n','d','o']

lista[0:1]

['H']

In [5]:
lista[0]

'H'

Si quisieramos imprimir unicamente la palabra mundo como se muestra en la imagen de arriba lo podemos hacer de esta manera:

In [6]:
texto[5:10]

'mundo'

In [7]:
lista[5:10] # Analogo con la listas

['m', 'u', 'n', 'd', 'o']

Aunque si por ejemplo solo ponemos [5:] le estamos diciendo a python que me imprima de la posicion 5 hasta donde acaba el **str**

In [8]:
texto[5:]

'mundo'

In [9]:
lista[5:] # Analogo con la listas

['m', 'u', 'n', 'd', 'o']

Python tambien asigna etiquetas negativas  a las posiciones de los caracteres de la siguiente manera:

![Imagen](Fig3.png)

De esta manera podemos tambien diseccionar nuesta cadena, por ejemplo:

In [10]:
texto[-10:-6]

'Hola'

----------
## Concatenar strings con el operador '+''

Con el uso del operador **+** podemos concatenar dos objetos tipo strings. por ejemplo:

In [139]:
texto1='Hola'
texto2='mundo'
texto1+texto2

'Holamundo'

Como nos podemos dar cuenta al aplicar el operador suma los dos strings se concatenan, tambien podemos concatenar varios strings y  sin necesidad de guardarlos previamente en una varaibale, como por ejemplo:

In [141]:
texto1+' '+texto2

'Hola mundo'

In [142]:
texto='Hola'
texto += ' '
texto += 'mundo'

texto

'Hola mundo'

------
# Funciones basicas con strings

Ya que sabemos lo que entiende python cuando ingresamos una cadena de caracteres, podemos comenzar a explorar algunas funciones propias de este tipo de objeto: 

--------------

## Funcion split y join

Anteriormente  habiamos hablado que el objeto tipo **string**  guarda sierta analogia con los objetos tipo **list** en Python, sin embargo estos objetos no son estrictamente iguales. 

Python nos ofreceun par de funciones que  permiten convertir una lista  en una cadena de caracteres y biseversa. 

### join

Para convertir una **lista** en una **cadena de caracteres** utilizamos la funcion **join**, como: 

**<span style="color:red">'sep'</span>.join(lista)**

Donde **<span style="color:red">'sep'</span>** es el separador que queremos introducir entre cada caracter de la lista por ejemplo

In [11]:
'-'.join(lista) # con sep = - como separador

'H-o-l-a- -m-u-n-d-o'

In [12]:
''.join(lista) # O con un separador vacio

'Hola mundo'

### split

Ahora para hacer el proceso contrario de convertir una **cadena de caracteres** en una **lista** usamos la funcion **split**, como: 

**texto.split(<span style="color:red">'sep'</span>)** 

En este caso <span style="color:red">'sep'</span> es el caracter por el cual queremos separar los elemento de la lista por ejemplo:

In [25]:
texto.split('a')

['Hol', ' mundo']

En el caso de que queramos una lista de las palabras de nuestra cadena de texto usamos el comando split sin definir un caracter de separacion. Asi:

In [14]:
texto.split()

['Hola', 'mundo']

----------------
## Funcion partition

Esta funcion nos permite separar nuestra cadena de texto por un caracter de separacion, a diferencia de la funcion **split()**, la funcion **partition()** devuelve una tupla en la que se incluye tambien  el separador como uno de sus elementos. Por ejemplo:

In [121]:
texto.partition('m')

('Hola ', 'm', 'undo')

------------------
## Funcion splitlines

Esta funcion permite particionar un cadena de caracteres por sus saltos de linea, nos devuelve esta particion en una lista, por ejemplo:

In [128]:
texto= '''hola mundo 
hola mundo 
hola mundo'''    

texto.splitlines()

['hola mundo ', 'hola mundo ', 'hola mundo']

----------------------

## Funcion find

Otra funcion importante al hacer analisis de texto es la funcion find, la cual nos permite buscar la primera aparicion de un caracter o una secuencia de caracteres dentro de nuestra cadena. Por ejemplo si queremos buscar la letra **a**, dentro de holamundo, hacemos:

In [58]:
texto='Hola mundo'

In [59]:
texto.find('a')

3

Esta linea nos devuelve la posicion donde aparece la primera letra **a**. Si por otra parte buscamos un caracter que no se encuentra dentro de la cadena, la funcion nos devuelve **-1**:

In [40]:
texto.find('q')

-1

La funcion find tambien nos permite hacer una busqueda dentro de una seccion de la cadena con el comando: 

**texto.find( valor, comienzo, final)**

Es decir, podemos buscar la posicion de la seguna **o** del texto en el intervalo de 5 a 10, dado a que este ejemplo tiene dos **o's**:

In [43]:
texto.find('o',5,10)

9

------------------
## Funcion count

Con esta funcion podemos contar el numero de aparaciones de un caracter o secuencia de caracteres dentro de nuestra cadena. Por ejemplo si queremos contar el numero de **os** dentro de texto basta con esta linea de codigo:

In [109]:
texto='Hola mundooo'
texto.count('o')

4

si se quiere tambien se puede contar el numero de repeticiones dentro de una seccion de la cadena utilizando el comando: 

**texto.find(valor,comienzo,final)**    

Por ejemplo:

In [114]:
texto.count('o' , 5,12)

3

-------------
# Funcion  format

In [137]:
print('hola '+str(2*4)+' casi')

hola 8 casi

In [ ]:
print('hola {}  yo soy {} y tengo {}. tu tienes {}  ?'.format('juan','Carlos',20,20*1.2))

------------------------

Este tipo de objetos cuentan con mas de una ventenda de funciones que podemos implementar en nuestro tramiento de datos tipo texto, si quieres ver todas las funciones que ofrese python para estos objetos puedes ejecutar el comando **dir** asi:

In [130]:
dir(texto)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [131]:
#texto.center(31,'o')

# Funciones de la libreria re

In [16]:
import re

In [17]:
text='hola mundo, hola mamá, hola papá'
if 'hola' in text: 
    print('Si hay hola en texto')

Si hay hola en texto

In [18]:
if re.search('hola',text): 
    print('Si hay hola en texto')

Si hay hola en texto

In [19]:
text.split('hola')

['', ' mundo, ', ' mamá, ', ' papá']

In [20]:
re.split('hola',text)

['', ' mundo, ', ' mamá, ', ' papá']

In [21]:
re.findall('hola',text)

['hola', 'hola', 'hola']

In [22]:
text.findall('hola') # Primera diferencia

AttributeError: 'str' object has no attribute 'findall'

In [ ]:
text.count('o')

In [ ]:
text='hola mundo, hola mamá, hola papá'
text=text.capitalize()
text

In [ ]:
text.casefold
text

In [ ]:
texto='Hola mundo'
texto[5:]

### Referencias 
- https://blog.carreralinux.com.ar/2017/07/uso-split-y-join-python/ consultada el 20/02/2021
- https://www.w3schools.com/python/ref_string_find.asp consultado el 21/02/2021